@{
    var counter = 0;
}    

<!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Browse through our wide collection:</title>
    </head>
    <body>
        <div class="container">
            @foreach(var product in Model)
            {
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-3">
                    <h3>@product[counter++]</h3>
                    <div class="card-body">
                            <p>@product[counter++]</p>
                    </div>
                    <div class="card-body">
                            <p>@product[counter++]</p>
                    </div>
                    <ul class="list-group list-group-flush">
                            <li class="list-group-item">@product[counter++]</li>
                    </ul>
                    <div class="card-body">
                        <a href="#" class="card-link">Add to Cart</a>
                    </div>
                    <div class="card-footer text-muted">
                            Stock: @product[counter++]
                            <img src="@product[counter++]" class="card-img-top" alt="Book Image">
                    </div>
                </div>
            </div>
        </div>
            }
  </div>
 </body>
</html>
